@model IEnumerable<ModelLayer.FlightReservation>

@*@{
    ViewBag.Title = "AvailableFlights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h2>AvailableFlights</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("ORIGIN")
        </th>
        <th>
            @Html.Label("DESTINATION")
        </th>
        <th>
            @Html.Label("DEPARTURE DATE")
        </th>
        <th>
            @Html.Label("PRICE")
        </th>
        <th>
            @Html.Label("FLIGHT NUMBER")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureStationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalStationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightNumber)
        </td>
        <td>
            @Html.ActionLink("Select", "Select", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
