@model ModelLayer.FlightReservation




@try
{
    using (Html.BeginForm("_AvailableFlights", "Home", new { originCode = "PEI", originName = "Pereira", destinationCode = "CTG", destinationName = "Cartagena", date = "2021-11-20" }))
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Available Flights</a>
                </h4>
            </div>

            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body" id="divBody_OportunidadCotizaciones">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartureStationName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownList("MyCities", (IEnumerable<SelectListItem>)ViewBag.cityList)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ArrivalStationName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownList("MyCities", (IEnumerable<SelectListItem>)ViewBag.cityList)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartureDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2"><input class="form-control arrivalDate" type="text" id="arrivalDate" /></div>
                    </div>

                    <button class="btn btn-block btn-outline-success" id="buscarVuelos">Search</button>
                </div>
            </div>
        </div>
    }
}
catch (Exception e)
{
    if (e.InnerException != null)
    {
        if (e.InnerException.InnerException != null)
        {
            <div id="divErrorEnTiempoEjecucionVista" class="alert alert-danger">
                <strong id="error">Se ha producido el siguiente error en la vista _DetalleOportunidad:</strong>
                <p>@e.Message</p>
                <p>@e.InnerException.InnerException.Message</p>
            </div>
        }
        else
        {
            <div id="divErrorEnTiempoEjecucionVista" class="alert alert-danger">
                <strong id="error">Se ha producido el siguiente error en la vista _DetalleOportunidad:</strong>
                <p>@e.Message</p>
                <p>@e.InnerException.Message</p>
            </div>
        }
    }
    else
    {
        <div id="divErrorEnTiempoEjecucionVista" class="alert alert-danger">
            <strong id="error">Se ha producido el siguiente error en la vista _DetalleOportunidad:</strong>
            <p>@e.Message</p>
        </div>
    }
}



<script>
    $(document).ready(function () {
        //Establecer la fecha en un día posterior al actual:
        var fecha = new Date(Date.now());
        fecha.setDate(fecha.getDate() + 1);
        $(".arrivalDate").datetimepicker({ format: 'DD/MM/YYYY', minDate: fecha });
    });
</script>